.dayView {

}

.allDaySection {
    display: flex;
    gap: .5rem;
    padding: .5rem;
    min-height: 24px;
    border-bottom: 1px solid var(--border-color);
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}

.allDayLabel {
    position: absolute;
    left: 0;
    font-size: 18px;
    color: var(--secondary-text-color);
}

.timelineSection {
    position: relative;
    overflow-y: scroll;
    height: 30vh; /* everything except the all-day section */
    min-width: 50vw;
    border-top: 1px solid var(--border-color);
}

.hourRow {
    height: 60px; /* 1 hour = 60px */
    position: relative;
}
.hourRow:first-child {
    margin-top: 1rem;
}

.timeLabel {
    position: absolute;
    left: 0;
    top: -12px;
    font-size: 12px;
    text-align: right;
    color: var(--secondary-text-color);
    min-width: 2rem;
}

.hourLine {
    position: absolute;
    left: 50px;
    right: 0;
    top: 0;
    height: 1px;
    background: var(--border-color);
}
