.dayView {

}

.allDaySection {
    display: flex;
    gap: 8px;
    padding: 8px;
    min-height: 50px;
    border-bottom: 1px solid #ddd;
    background: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

.timelineSection {
    position: relative;
    overflow-y: scroll;
    height: calc(30vh - 80px); /* everything except the all-day section */
    min-width: 50vw;
    border-top: 1px solid #ddd;
}

.hourRow {
    height: 60px; /* 1 hour = 60px (or 50px or 80px) */
    position: relative;
}

.timeLabel {
    position: absolute;
    left: 0;
    top: -8px;
    font-size: 12px;
    color: gray;
}

.hourLine {
    position: absolute;
    left: 50px;
    right: 0;
    top: 0;
    height: 1px;
    background: #eee;
}
