.weekContainer {
    display: flex;
    width: 100%;

}

.dayOverviewContainer {
    margin-top: 2rem;
    width: 100%;
    border-radius: .5rem;
    border: .5rem solid var(--primary-color);
    box-sizing: border-box;
    min-height: 14rem;
    display: flex;

}

.overviewOptionsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
}

.focusOption {
    border: none;
    background-color: transparent;
    color: var(--secondary-text-color);
    width: fit-content;
    font-size: 1.5rem;
    transition: all .2s ease;

}

.focusOption.active {
    color: var(--text-color);
    font-size: 2.5rem;
    transition: all .2s ease;
}

.scheduleContent {
    display: flex;
    width: 100%;
}

.timelineWrapper {
    flex-shrink: 0;
}

.eventDetailsContainer {
    flex: 1;   
}

.eventDetailsContent {
    margin-left: .5rem;
}

.eventHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.infoContainer {
    display: flex;
    flex-direction: row;
}

.info {
    flex: 1;
    min-width: 0;
}

.timesContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.time {
    flex: 1;
    min-width: 0;
}

.notesContainer {
    flex: 1;
    min-width: 0;
}

.editEventButton {
    background: none;
    align-self: center;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    color: #555;
    transition: transform 0.2s, color 0.2s;
}

.editEventButton:hover {
    transform: scale(1.05);
    color: var(--primary-color);
}
