.dropdownChecklist {
    position: relative;
    min-width: 12rem;
    max-width: 18rem;
}

.button {
    width: 100%;
    height: 2rem;
    padding-left: 0.5rem;
    border: none;
    border-radius: .5rem;
    background-color: var(--secondary-color);
    cursor: pointer;
    text-align: left;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    transform: rotate(0deg);
    transition: transform 0.2s;
}

.arrow.open {
    transform: rotate(180deg);
}

.optionsContainer {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: .1rem;
    background-color: var(--secondary-color);
    border: 1px solid var(--border-color);
    border-radius: .5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 150px;
    overflow-y: auto;
}

.option {
    display: flex;
    align-items: center;
    padding: 10px 12px;
    cursor: pointer;
    transition: background-color 0.15s;
    font-size: 18px;
}

.checkbox {
    margin-right: 10px;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}